@import "tailwindcss";

/* globals.css などに記述 */
:root {
  --main-bg: #d7a14b;
  --main-text: #1f2937;
  --accent: #51884b;
  --accent-hover: #3d6b3a;
}

/* 使用例 */
body {
  margin: 0;
  background-color: #fdf8ea;
  color: var(--main-text);
}

a {
  color: var(--accent);
}

/* @config {
  theme: {
    extend: {
      colors: {
        primary: '#d7a14b'
      }
    }
  }
} */
